# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Visual Studio trash
.vs/

# Debug build
Debug/
Debug-Wrapper/*
# Release static lib


# Archives
*.zip

# Intermediate build directories
LibRelease/*
Rogue-Squadron-ASI/Debug/*
Rogue-Squadron-ASI/Release/*
Rogue-Squadron-Wrapper/Debug/*
Rogue-Squadron-Wrapper/Debug-Wrapper/*
Rogue-Squadron-Wrapper/Release/*
WidescreenHackLib/Debug/*
WidescreenHackLib/Debug-Wrapper/*
WidescreenHackLib/Release/*

# Unfinished dirs
Release/Wrapper/*